RewriteEngine On

# Jangan redirect file/folder yang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect root ke login
RewriteRule ^$ /modules/auth/login.php [L,R=302]